{
  "author": "{{username}}",
  "username": "{{username}}",
  "name": "{{napp}}",
  "description": "{{description}}",
  "version": "initial",
  "napp_dependencies": [],
  "license": "",
  "tags": [],
  "url": ""
}
