{
  "author": "{{author}}",
  "name": "{{napp}}",
  "description": "{{description}}",
  "long_description": "",
  "version": "",
  "napp_dependencies": [],
  "license": "",
  "tags": [],
  "url": ""
}
